/codigos/15_Seguridad_TokenSinEstado/dist/
/codigos/Ejemplos/03_HolaREST/build/
/codigos/Ejemplos/03_HolaREST/nbproject/private/
/codigos/Ejemplos/03_HolaREST_Herencia/build/
/codigos/Ejemplos/03_HolaREST_Herencia/dist/
/codigos/Ejemplos/03_HolaREST_Herencia/nbproject/private/
/codigos/Ejemplos/03_HolaREST_Interfaz/build/
/codigos/Ejemplos/03_HolaREST_Interfaz/nbproject/private/
/codigos/Ejemplos/04_Subrecurso/build/
/codigos/Ejemplos/04_Subrecurso/nbproject/private/
/codigos/Ejemplos/05_Parametros/build/
/codigos/Ejemplos/05_Parametros/nbproject/private/
/codigos/Ejemplos/06_Contenido/build/
/codigos/Ejemplos/06_Contenido/dist/
/codigos/Ejemplos/06_Contenido/nbproject/private/
/codigos/Ejemplos/07_Respuestas/build/
/codigos/Ejemplos/07_Respuestas/nbproject/private/
/codigos/Ejemplos/08_APICliente/build/
/codigos/Ejemplos/08_APICliente/nbproject/private/
/codigos/Ejemplos/10_HATEOAS/build/
/codigos/Ejemplos/10_HATEOAS/dist/
/codigos/Ejemplos/10_HATEOAS/nbproject/private/
/codigos/Ejemplos/11_Escalabilidad/build/
/codigos/Ejemplos/11_Escalabilidad/dist/
/codigos/Ejemplos/11_Escalabilidad/nbproject/private/
/codigos/Ejemplos/15_Seguridad/build/
/codigos/Ejemplos/15_Seguridad/dist/
/codigos/Ejemplos/15_Seguridad/nbproject/private/
/codigos/Ejemplos/15_Seguridad_TokenSinEstado/build/
/codigos/Ejemplos/15_Seguridad_TokenSinEstado/dist/
/codigos/Ejemplos/15_Seguridad_TokenSinEstado/nbproject/private/
/codigos/Ejemplos/16_SSE/build/
/codigos/Ejemplos/16_SSE/dist/
/codigos/Ejemplos/16_SSE/nbproject/private/
/codigos/Ejemplos/16_WebSocket/build/
/codigos/Ejemplos/16_WebSocket/dist/
/codigos/Ejemplos/16_WebSocket/nbproject/private/
/codigos/Ejemplos/JavaSE_PoC/build/
/codigos/Ejemplos/JavaSE_PoC/nbproject/private/
/codigos/Ejemplos/JavaWeb_PoC/build/
/codigos/Ejemplos/JavaWeb_PoC/dist/
/codigos/Ejemplos/JavaWeb_PoC/nbproject/private/
/codigos/Practicas/TiendaREST/build/
/codigos/Practicas/TiendaREST/nbproject/private/
/codigos/Practicas/TiendaREST_06/build/
/codigos/Practicas/TiendaREST_06/nbproject/private/